@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
	font-family: 'Raleway', sans-serif;
}

#menu, #menu ul, #menu ul li, #menu ul li a {
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#menu ul button {
	margin: auto;
	color: black;
	border: none;
	width: 80px;
	height: 40px;
	float: right;
	background-color: #ffffff;
}

#menu:after, #menu>ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#menu {
	margin: auto;
	width: 90%;
	border-bottom: 3px solid #47c9af;
	font-family: Raleway, sans-serif;
	line-height: 1;
}

#menu ul {
	background: #ffffff;
}

#menu>ul>li {
	float: left;
}

#menu.align-center>ul {
	font-size: 0;
	text-align: center;
}

#menu.align-center>ul>li {
	display: inline-block;
	float: none;
}

#menu.align-right>ul>li {
	float: right;
}

#menu.align-right>ul>li>a {
	margin-right: 0;
	margin-left: -4px;
}

#menu>ul>li>a {
	z-index: 2;
	padding: 18px 25px 12px 25px;
	font-size: 15px;
	font-weight: 400;
	text-decoration: none;
	color: #444444;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	margin-right: -4px;
}

#menu>ul>li.active>a, #menu>ul>li:hover>a, #menu>ul>li>a:hover {
	color: #ffffff;
}

#menu>ul>li>a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	width: 100%;
	height: 120%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	content: "";
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	-webkit-transform: perspective(5px) rotateX(2deg);
	-webkit-transform-origin: bottom;
	-moz-transform: perspective(5px) rotateX(2deg);
	-moz-transform-origin: bottom;
	transform: perspective(5px) rotateX(2deg);
	transform-origin: bottom;
}

#menu>ul>li.active>a:after, #menu>ul>li:hover>a:after, #menu>ul>li>a:hover:after
	{
	background: #47c9af;
}

/* home  */
#home {
	width: 70%;
	padding: 5px;
	margin: 0 auto;
	background: #ffffff;
	float: center;
}

#home select ul.chart {
	margin: 0 0 20px;
	line-height: 1.5;
}

#home section {
	display: none;
	padding: 20px 0 0;
	border-top: 1px solid #cccccc;
	float: center;
}

/*라디오버튼 숨김*/
#home input {
	width: 70%;
	display: none;
}

#home label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #cccccc;
	border: 1px solid transparent;
}

#home label:hover {
	color: #47c9af;
	cursor: pointer;
}

/*input 클릭시, label 스타일*/
#home input:checked+label {
	color: #47c9af;
	border: 1px solid #ddd;
	border-top: 2px solid #cccccc;
	border-bottom: 1px solid #ffffff;
}

#home #tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked 
	 ~ #content3, #tab4:checked ~ #content4, #tab5:checked ~ #content5,
	#tab6:checked 
	 ~ #content6, #tab7:checked ~ #content7 {
	display: block;
}

#home .chart {
	width: 70%;
	margin: 0 auto;
}

#home .chart ol {
	counter-reset: li;
	list-style: none;
	*list-style: decimal;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin-bottom: 4em;
}

#home .chart ol ol {
	margin: 0 0 0 2em;
}

#home .chart a {
	position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
	*padding: .4em;
	margin: .5em 0;
	background: #cccccc;
	color: #000;
	text-decoration: none;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: 10em;
	transition: all .2s ease-in-out;
}

#home .chart a:hover {
	background: #d6d4d4;
	text-decoration: none;
	transform: scale(1.1);
}

#home .chart a:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: #cccccc;
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: .3em solid #fff;
	text-align: center;
	font-weight: bold;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	border-radius: 2em;
	color: #FFF;
}

/* boardMain  */
#board, #board #boardPage, #board #boardSearch, #boardRead div {
	padding: 10px 0;
	margin: auto;
	width: 80%;
	text-align: center;
	boarder: 1px solid #ccc;
}

#board table {
	margin: auto;
	width: 80%;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
	/* border-collapse: collapse; */
}

#board table tr {
	/* border-bottom: 1px solid #ccc; */
	
}

#board table th {
	background-color: #ccc;
	font-size: 12pt;
	color: black;
}

#boardPage button {
	float: right;
}

#boardSearch input {
	background: url('arrow.jpg') no-repeat 95% 50%;
	border: none;
	padding: 4px;
	border-bottom: 1px solid #ccc;
	font-size: 12pt;
	color: #63717f;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#boardSearch select {
	padding: 5px;
	border: 1px solid #999;
	font-family: inherit;
	background: url('arrow.jpg') no-repeat 95% 50%;
	border-radius: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	appearance: none;
	font-size: 10pt;
	text-align: center;
}

/* boardWirte & boardRead */
#boardWrite, #boardRead, #boardModify {
	padding: 10px 0;
	margin: auto;
	width: 80%;
	text-align: center;
}

#boardWrite table, #boardRead table, #boardModify table {
	margin: auto;
	border-collapse: separate;
	border-spacing: 1px;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	padding-top: 10px;
	align: center;
	width: 80%;
	border: 0;
}

#boardWrite table tr, #boardRead table tr, #boardModify table tr {
	width: 50px;
	padding: 10px;
	margin: 5px;
	margin: auto;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

#boardWrite table th, #boardRead table th, #boardModify table th {
	width: 100px;
	padding: 10px;
	margin: auto;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	font-size: 12pt;
}

#boardWrite table td, #boardRead table td, #boardModify table th {
	width: 100px;
	padding: 10px;
	margin: auto;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
}

#boardWrite span input, #boardRead table span button, #boardModify span input
	{
	color: black;
	border: none;
	width: 80px;
	height: 40px;
	padding: 5px;
}

#readRight button {
	color: black;
	border: none;
	width: 70px;
	height: 30px;
}